section {
    height: 76.2vh;
    margin-top: 50px;
    margin-bottom: 10vh;
}

#sportify{
    color: white;
    font-weight: 900;
}

.loginBg {
    background-image: url(../../../assets/login.jpg);
    background-size: cover;
    color: #00BFA5;
    height: 90vh;
}

.white {
    padding: 20px;
    background-color: transparent;
}

.register {
    background-color: white;
    border-radius: 5%;
    margin: auto;
    width: 30vw;
}

.loginBtn {
    background-color: #00BFA5;
    color: #ffffff;
}

.form-signin {
    padding: 5%;
    margin: 2%;
}

@media(max-width:1030px) {
    .register {
        background-color: white;
        border-radius: 5%;
        margin-left: 10vw;
        width: 80vw;
    }
}

@media(max-width:650px) {
    .register {
        background-color: white;
        border-radius: 5%;
        margin-left: 5vw;
        width: 90vw;
    }
}