/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Titillium Web', sans-serif;
}
body{
    background-image: url(../src/assets/wp.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}