section{
    margin-top: 50px;
    min-height: 100vh;
}
.header {
    text-align: center;
    margin: auto;
    background-color: #00BFA5;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: x-large;
}

#profile {
    background-color: white;
    font-size: 100px;
    text-align: center;
    color: #00BFA5;
}

input#url::placeholder {
    color: white;
}

#profile-list {
    color: rgb(75, 75, 75);
    padding: 0%;
    padding-left: 5%;
    margin-top: 3%;
}
ul,
div#div {
    margin: 0;
    padding: 0;
    margin-bottom: 80px;
}
.fas {
    color: red;
    position: absolute;
    right: 5%;
}
.list-group-item {
    position: relative;
}
#info {
    display: inline;
    position: absolute;
    right: 5%;
    color: grey;
}

@media(min-width:787px) {
    .list-group {
        position: relative;
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media(max-width:576px) {
    section {
        padding-bottom: 10%;
        margin-top: 50px;
        margin-bottom: 10vh;
    }
    
    div#div {
        margin-bottom: 23vh;
    }
}