* {
    font-size: medium;
}

a:hover,
a:active {
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    padding: 4px 0;
}

.active-link {
    border-top: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    padding: 4px 0;
}

.navbar {
    background-color: black;
    text-align: center;
}

#whiteLink {
    color: white;
}
.navbar-toggler{
    color: white;
    border: 1.3px solid;
}