<app-coach-menu></app-coach-menu>

<section class="page">
    <!-- <i class="fas fa-chevron-left" routerLink='/'></i> -->
    Mis Equipos
</section>
<br>
<section>
    <div class="card mb-3" *ngFor="let team of teams">
        <div class="card-header">
            {{team.name}}
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Partidos
                <i class="fas fa-trophy"></i>
            </h5>
            <h5 class="card-title">
                Entrenamientos
                <i class="fas fa-dumbbell"></i>
            </h5>
            <h5 class="card-title">
                Jugadores
                <i class="fas fa-users"></i>
            </h5>
        </div>
        <div class="card-footer">
            {{team.category}}
        </div>
    </div>
    <div class="newTeam">
        <button class="btn" data-toggle="modal" data-target="#createTeam">
            Nuevo equipo
        </button>
    </div>
</section>