*{
    font-weight: 300;
}
section{
    margin: 0;
    padding: 0;
}
.fa-chevron-left{
    position: absolute;
    left: 10px;
    margin-top: 4px
}
.page{
    margin: auto;
    margin-top: 18px;
    background-color: #FFCC00;
    color: black;
    text-align: center;
    font-size: large;
    font-weight: 800;
    width: 85vw;
}
.card-header, .card-footer{
    background-color: grey;
    color: #ffcc00;
    font-weight: 700;
}
.card{
    max-width: 22rem;
    margin: auto;
    border: none
}
.btn {
    margin-left: 36%;
    margin-bottom: 16px;
    background-color: #ffcc00;
    color: black;
    font-weight: 600;
    width: 30vw;
}
